@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 780px;
  height: 90vh;
  background: #e8ffe8;
  padding: 20px 0;
}

.tree {
  position: relative;
  top: -150px;
  width: 300px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-20deg) rotateY(30deg);
  transform: rotateX(-20deg) rotateY(30deg);
  -webkit-animation: animate-rotate 6s linear infinite;
  animation: animate-rotate 6s linear infinite;
}
.tree::before {
  content: "⭐️";
  position: absolute;
  top: -105px;
  left: calc(50% - 32px);
  font-size: 64px;
}
.tree div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(calc(100px * var(--j)));
  transform: translateY(calc(100px * var(--j)));
}
.tree div.top span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#69c069),
    to(#77dd77)
  );
  background: linear-gradient(90deg, #69c069, #77dd77);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  border-bottom: 10px solid rgba(0, 0, 0, 0.0980392157);
  -webkit-transform: rotateY(calc(90deg * var(--i))) rotateX(30deg)
    translateZ(173px);
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(173px);
}
.tree div.bottom span {
  position: absolute;
  bottom: -50px;
  left: calc(50% - 30px);
  width: 60px;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#bb4622),
    to(#df7214)
  );
  background: linear-gradient(90deg, #bb4622, #df7214);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3333333333);
  -webkit-transform: rotateY(calc(90deg * var(--i))) translateZ(30px);
  transform: rotateY(calc(90deg * var(--i))) translateZ(30px);
}
.tree .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1333333333);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateZ(-500px);
  transform: rotateX(90deg) translateZ(-500px);
  -webkit-filter: blur(2 0px);
  filter: blur(2 0px);
}

@-webkit-keyframes animate-rotate {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
    transform: rotateX(-20deg) rotateY(0deg);
  }
}

@keyframes animate-rotate {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
    transform: rotateX(-20deg) rotateY(0deg);
  }
}
